body {
  font-family: "Roboto", sans-serif;
  background: #31057e;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
}
svg {
  height: 100%;
  width: 100%;
}
